.venv
huggingface_models
__pycache__/
*.pyc
.env
output/test2_dialogues
output/test1_dialogues
output/test3_dialogues
output/test4_dialogues
output/test5_dialogues
indiclid-ftn
input/test1_segments
input/test3_segments
input/test4_segments
input/test5_segments
input/test2.wav
input/test4.wav
input/test5.wav
input/test6.wav