webrtcvad
pydub
onnxruntime
transformers==4.51.3
torch==2.5.0
torchaudio==2.5.0
torchcodec
soundfile
python-dotenv
fasttext-wheel
streamlit
pandas
indictranstoolkit
modAL-python
spacy
wandb
mlflow
skelo
fsrs