webrtcvad
pydub
onnxruntime
transformers==4.51.3
torch==2.5.0
torchaudio==2.5.0
torchcodec
soundfile
python-dotenv
fasttext-wheel
streamlit
streamlit-webrtc>=0.47.0
aiortc>=1.6.0
pandas
indictranstoolkit
modAL-python
spacy
wandb
mlflow
skelo
fsrs
google-genai
google-auth-oauthlib==1.2.3
google-auth
streamlit-cookies-manager
yt-dlp